<div class="card">
    <ul>
        <h1>ici!</h1>
        <h2>Salut <%= @user.alias %>!</h2>
        <p>Nous avons bien pris en compte votre inscription à la sortie : 
        <h3><%= @event.title %></h3>
        <p>Et votre arrivée prochaine a été signalée à l'organisateur !</p>
        <p>Il n'y a plus qu'à vous rendre sur place, amusez-vous bien !</p>
    </ul>
</div>

