<div class="card-form">
  <div style="display: flex; justify-content: flex-end;">
    <%= link_to "", root_path, :class => "button-close" %>
  </div>

  <div class="card-body">
    <div class="logo_marker_event text-center"> 
      <svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"  viewBox="0 0 90 120" width="20%" height="20%">
        <defs>
          <linearGradient id="blue-gradient" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%" style="stop-color:#46BDEC;" />
            <stop offset="100%" style="stop-color:#4661EC;" />
          </linearGradient>
        </defs>
        <g fill="url(#blue-gradient)">
          <path d="M45 0C69.835 0 89.799 20.11 89.999 44.88c.225 27.746-35.05 75.105-45 75.121C33.318 120.021-.188 73.242.002 44.879.166 20.11 20.164 0 45 0zm0 14.969c16.553 0 29.991 13.402 29.991 29.91 0 16.507-13.438 29.91-29.991 29.91-16.552 0-29.99-13.403-29.99-29.91 0-16.508 13.438-29.91 29.99-29.91zm0 14.788c8.368 0 15.162 6.776 15.162 15.122S53.368 60 45 60c-8.369 0-15.163-6.775-15.163-15.121S36.631 29.757 45 29.757z"/>
        </g>
      </svg>
    </div>
    <div class="separator-large"></div>  
    <div class="top-info" style="text-align: left;">
      <p>Pour <strong>trouver</strong> ou <strong>créer</strong> des sorties, appuyez sur le <strong>bouton raffraichir</strong> en bas de l'écran.</p>
      <p>Appuyez sur l'un des <strong>marqueurs de sortie</strong> pour afficher ses infos ou sur <strong>votre position</strong> pour accéder à la création d'une sortie.</p>
      <p>Manifestez votre <strong>participation</strong> en appuyant sur <strong>'J'arrive !'</strong> avant de vous mettre en chemin ! </p>
      <p>Vous pouvez <strong>changer</strong> la <strong>branche d'âge</strong> de vos sorties depuis vos options.</p>
    </div>
    <div class="separator"></div>
    <div>
      <p class="card-title">ici!</p>
      <ul class="top-info" style="text-align: left;">
        <li><strong>Mathias Gosselin</strong> Code</li>
        <li><strong>Cristiane Menna</strong> Code</li>
        <li><strong>Jules Dajon</strong> UI</li>
        <li><strong>Jérémy Roy</strong> UI</li>
        <li><strong>Jean-Edouard Fages</strong> UI & Conception</li>
      </ul>
    </div>
    <div class="text-center">
      <%= link_to "Revenir à la carte", root_path %>
    </div>
  </div>
</div>