<html lang="en">
<head>
    <!-- CDN Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Roboto:300,400,700&display=swap" rel="stylesheet">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
    body{
        background-image: url(https://i.imgur.com/kbfSuby.jpg) ;
        background-position:center center;
    }
     .card{ text-align: center;
            background-color: #F8F8F8 ;
            width: 309px;
            height: 550px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      h1 {  color: #F8902F;
            text-align: center;
            font-size: 80px;
            margin-top: -10px;
            font-family: Pattaya;
      }
      h2 { color: #4988FF;
      font-family: Pattaya, Helvetica, sans-serif;
      }
      h3{ color: #737373;
      font-family: Pattaya, Helvetica, sans-serif;
      }
      p{
        color: #737373;
        font-family: Roboto;
      }
      ul { list-style: none;
           padding-inline-start: 5px;
      }
    </style>
</head>

<body>
    <div class="card">
      <ul>
        <h1>ici!</h1>
        <h2>Salut <%= @resource.email %>!</h2>
        <p>Nous avons reçu une demande de changement de mot de passe, vous pouvez procéder à ce changement en cliquant ci-dessous.</p>
        <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
        <p>Si vous n’avez pas fait cette demande, il n’y a pas de souci. Merci d’ignorer ce mail.</p>
        <p>Votre mot de passe restera le même jusqu’à ce que vous en choisissiez un nouveau en cliquant sur le lien au dessus.</p>
        <p>A très bientôt !</p>
      </ul>
    </div>
            
  <%= yield %>
</body>
</html>
                